
{% extends "base.html" %}
{% block content %}
<div class="container mt-5 p-3">
    <div class="row justify-content-center">
        {% for (date,mealcombo) in meals %}
        <div class="col-lg-8">
            <h1 class="text-center">{{date}}</h1>
            <table class="table table-bordered text-center mt-3">
                <tbody>
            {% if let Some(meal) = mealcombo.breakfast %}
            <tr>
                <td >
                    <a href='/meals/{{meal.id}}'>Breakfast</a>
                </td>
            </tr>
            {% endif %}
            {% if let Some(meal) = mealcombo.lunch %}
            <tr>
                <td >
                    <a href='/meals/{{meal.id}}'>Lunch</a>
                </td>
            </tr>
            {% endif %}
            {% if let Some(meal) = mealcombo.dinner %}
            <tr>
                <td >
                    <a href='/meals/{{meal.id}}'>Dinner</a>
                </td>
            </tr>
            {% endif %}
            {% if let Some(snack) = mealcombo.snack %}
            <tr>
                <td >
                    <a href='/meals/{{snack.id}}'>Snack</a>
                </td>
            </tr>
            {% endif %}
                </tbody>
            </table>
            {% if let None = mealcombo.breakfast %}
                <a href="/newmeal/breakfast/{{mealcombo.date}}" class="btn btn-primary">Add Brekfast</a>
            {% endif %}
            {% if let None = mealcombo.lunch %}
                <a href="/newmeal/lunch/{{mealcombo.date}}" class="btn btn-secondary">Add Lunch</a>
            {% endif %}
            {% if let None = mealcombo.dinner %}
                <a href="/newmeal/dinner/{{mealcombo.date}}" class="btn btn-success">Add Dinner</a>
            {% endif %}
            {% if let None = mealcombo.snack %}
                <a href="/newmeal/snack/{{mealcombo.date}}" class="btn btn-warning">Add Snack</a>
            {% endif %}
        </div>
        {% endfor %}

        {% if  !today_has_meal %}
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal">
                Add Meal for Today
            </button>

            <!-- Modal -->
            <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Create Meal for Toda</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="d-flex flex-row ">
                                    <a href="/newmeal/breakfast/{{date}}" class="btn btn-primary">Add Brekfast</a>
                                    <a href="/newmeal/lunch/{{date}}" class="btn btn-secondary">Add Lunch</a>
                                    <a href="/newmeal/dinner/{{date}}" class="btn btn-success">Add Dinner</a>
                                    <a href="/newmeal/snack/{{date}}" class="btn btn-warning">Add Snack</a>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <input type='submit' class="btn btn-primary" value='Add to Meal'>
                            </div>
                        </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock content %}
