{% extends "base.html" %}
{% block content %}
<span class="htmx-indicator">
<!---<img src="/img/bars.svg"/>-->
Searching...
</span>
<div class="container mt-5 p-3">
<div class="row justify-content-center">
    <div class="col-lg-8">
        <h1 class="text-center">Search</h1>
            <input class="form-control" type="search"
                   name="query" placeholder="Begin Typing To Search Foods..."
                   autocomplete="off"
                   hx-post="/{{meal_id}}/search"
                   hx-target="#search-results"
                   hx-indicator=".htmx-indicator"
            >
            <td>
                <div id="search-results" class="">
                </div>
            </td>
        <div class="mt-4">
        </div>
    </div>
</div>
</div>

{% endblock content %}
